# 1

In [8]:
import pandas as pd
ngay = ['1/3', '2/3', '3/3', '4/3', '5/3', '6/3', '7/3']
giaVangBanRa = ['46', '47', '46', '45', '46', '46', '45']
giaVangMuaVao = ['45', '46', '45.5', '44.5', '45', '45.5', '44.5']
giaVang = pd.DataFrame({'ngày':ngay, 'Giá vàng bán ra': giaVangBanRa, 'Giá vàng mua vào': giaVangMuaVao})
giaVang
# giaVang.to_csv('gia_vang.csv', index= False)

  ngày Giá vàng bán ra Giá vàng mua vào
0  1/3              46               45
1  2/3              47               46
2  3/3              46             45.5
3  4/3              45             44.5
4  5/3              46               45
5  6/3              46             45.5
6  7/3              45             44.5

# 2

In [9]:
giaVang1 = pd.read_csv('gia_vang.csv')
giaVang1.sort_values(by=['Giá vàng bán ra', 'Giá vàng mua vào'], ascending= [True, True])
giaVang1

  ngày  Giá vàng bán ra  Giá vàng mua vào
0  1/3               46              45.0
1  2/3               47              46.0
2  3/3               46              45.5
3  4/3               45              44.5
4  5/3               46              45.0
5  6/3               46              45.5
6  7/3               45              44.5

# 3

In [10]:
tenSV = ['Trung', 'Cảnh', 'Bảo', 'Quốc', 'Tùng']
vangLT = [3, 5, 1, 0, 2]
vangTH = [2, 1, 0, 0, 1]
khongNopBai = [0, 3, 0, 2, 1]
loiViPham = pd.DataFrame({'Tên sinh viên': tenSV, 'Vắng lý thuyết': vangLT, 'Vắng thực hành': vangTH, 'Không nộp bài': khongNopBai})
loiViPham.to_csv('loi_vi_pham.csv', index= False)
loiViPham1 = pd.read_csv('loi_vi_pham.csv')
loiViPham1

  Tên sinh viên  Vắng lý thuyết  Vắng thực hành  Không nộp bài
0         Trung               3               2              0
1          Cảnh               5               1              3
2           Bảo               1               0              0
3          Quốc               0               0              2
4          Tùng               2               1              1

# 4

In [11]:
day = pd.Series(['1/3', '2/3', '3/3', '4/3', '5/3', '6/3', '7/3'])
giaVBR = pd.Series(['46', '47', '46', '45', '46', '45'], index=[0, 1, 2, 3, 4, 6])
giaVMV = pd.Series(['45', '46', '44.5', '45', '45.5', '44.5'], index=[0, 1, 3, 4, 5, 6])
giaVangThang3 = pd.DataFrame({'ngày': day, 'Giá vàng bán ra': giaVBR, 'Giá vàng mua vào': giaVMV})
giaVangThang3.to_excel('gia_vang_thang_3.xlsx', index= False)
giaVangT3 = pd.read_excel('gia_vang_thang_3.xlsx')
giaVangT3

  ngày  Giá vàng bán ra  Giá vàng mua vào
0  1/3             46.0              45.0
1  2/3             47.0              46.0
2  3/3             46.0               NaN
3  4/3             45.0              44.5
4  5/3             46.0              45.0
5  6/3              NaN              45.5
6  7/3             45.0              44.5

# 5

In [12]:
writer = pd.ExcelWriter('gia_vang_3_4.xlsx', mode='w', engine='openpyxl')
giaVang.to_excel(writer,sheet_name= 'Sheet 1', index= False)
ngayT4 = ['4/4', '5/4', '6/4', '7/4', '8/4', '9/4', '10/4']
giaVBRT4 = ['48', '47', '46.5', '46', '46.5', '47', '47.5']
giaVMVT4 = ['47', '46.5', '45.5', '45', '46', '46', '46.5']
giaVangT4 = pd.DataFrame({'ngày': ngayT4, 'Giá vàng bán ra': giaVBRT4, 'Giá vàng mua vào': giaVMVT4})
giaVangT4.to_excel(writer, sheet_name= 'Sheet 2', index= False)
writer.save()

# 6

In [13]:
giaV2T = pd.read_excel('gia_vang_3_4.xlsx')
giaV2T.describe()

       Giá vàng bán ra  Giá vàng mua vào
count         7.000000          7.000000
mean         45.857143         45.142857
std           0.690066          0.556349
min          45.000000         44.500000
25%          45.500000         44.750000
50%          46.000000         45.000000
75%          46.000000         45.500000
max          47.000000         46.000000

# 7

In [14]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)
loiViPham.to_sql('users', con= engine)
engine.execute("SELECT * FROM users").fetchall()

[(0, 'Trung', 3, 2, 0),
 (1, 'Cảnh', 5, 1, 3),
 (2, 'Bảo', 1, 0, 0),
 (3, 'Quốc', 0, 0, 2),
 (4, 'Tùng', 2, 1, 1)]

# 8

In [15]:
loiVP = pd.read_sql('users', con=engine)
loiVP1 = pd.DataFrame(loiVP)
# loiVP1.loc[lambda loiVP1 : loiVP1['Vắng lý thuyết']>=2]
data = loiVP1[loiVP1['Vắng lý thuyết'] >= 2]
data.reset_index(drop= True)

   index Tên sinh viên  Vắng lý thuyết  Vắng thực hành  Không nộp bài
0      0         Trung               3               2              0
1      1          Cảnh               5               1              3
2      4          Tùng               2               1              1